# Node modules
node_modules/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Linux
*.swp

# Text editor or IDE settings
.vscode/
.idea/

# Caches and build files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/
.babelrc/
.expo/
*.expo/
.expo-shared/
android/app/build/
ios/build/

# Environment-specific configuration files
.env
*.env

# Platform-specific directories
android/.gradle/
android/.idea/
android/local.properties
android/app/src/main/assets/index.android.bundle
android/app/src/main/res/drawable-mdpi/background_*
ios/Pods/
ios/*.xcworkspace
ios/Podfile.lock
ios/fastlane/report.xml
ios/fastlane/Preview.html

# Packaging files
*.bundle
*.map

# Development state files
*.log
